:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
  background-color: #222;
}

body::-webkit-scrollbar-track {
  background: #222; /* cor de fundo da bara de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: #b71c1c; /* dor do scroll(thumb) da barra de rolagem */
  border-radius: 20px; /* arredondar o scroll (thumb) */
  border: 3px solid #222; /* criar um espaço em volta do scroll */
}